<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %> </title>
</head>

<body>
    <!-- 提醒 -->
    <div class="m-tip">
        <div class="g-w">
            <p class="f-fs1">网易云课堂微专业，帮助你掌握专业技能，令你求职或加薪多一份独特优势！<a href="http://study.163.com/" target="_blank" class="f-fc">立即查看></a> <span class="f-fr waring-close">×不再提醒</span></p>
        </div>
    </div>
    <!-- /提醒 -->
    <!-- 导航 -->
    <div class="g-w">
        <div class="m-nav">

        </div>
    </div>
    <!-- /导航 -->
    <!-- 轮播 -->
    <div class="m-banner">

    </div>
    <!-- /轮播 -->
    <!-- 产品介绍 -->
    <div class="g-w">
        <div class="m-products-intro">


        </div>
    </div>
    <!-- /产品介绍 -->
    <!-- 照片墙 -->
    <div class="m-photo-wall">

    </div>
    <!-- /照片墙 -->
    <!-- 主体 -->
    <div class="g-w">
        <div class="m-main">
            <!-- 产品列表 -->
            <div class="f-fl">
                <div class="products">

                </div>
            </div>
            <!-- /产品列表 -->

            <!-- 侧边栏 -->
            <div class="f-fr">
                <div class="m-side">

                </div>
            </div>
            <!-- /侧边栏 -->
        </div>
    </div>
    <!-- 主体 -->
    <!-- 页脚 -->
    <footer>

    </footer>
    <!-- /页脚 -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
</body>

</html>