<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <!-- 登录框 -->
    <div class="m-login-mask">
        <div class="m-login">
            <a class="close">×</a>
            <h3>登录网易云课堂</h3>
            <input class="text username" type="text" placeholder="账号" />
            <input class="text userpsw" type="password" id="psw" placeholder="密码">
            <input class="login-btn" type="button" value="登录">
        </div>
    </div>
    <!-- 视频弹出层 -->
    <%= require('html-loader!./video.html') %>
        <!-- 提醒 -->
        <div class="m-tip">
            <div class="g-w">
                <p class="f-fs1">网易云课堂微专业，帮助你掌握专业技能，令你求职或加薪多一份独特优势！<a href="http://study.163.com/" target="_blank" class="f-fc">立即查看></a>
                    <span class="f-fr waring-close">×不再提醒</span>
                </p>
            </div>
        </div>
        <!-- /提醒 -->
        <!-- 导航 -->
        <div class="m-nav f-vama">
            <div class="g-w">
                <h2 class="logo"><span class="f-fc">|</span>网易教育产品部</h2>
                <span class="follow f-tac f-fs1">关注</span>
                <div class="followed"><span>√已关注</span><span class='line'> | </span><a href="javascript:;">取消</a></div>
                <span class="fans f-fs1">粉丝 45</span>
                <div class="list f-fr">
                    <a href="http://open.163.com/" target="_blank">网易云课堂</a>
                    <a href="http://study.163.com/" target="_blank">云课堂</a>
                    <a href="http://www.icourse163.org/" target="_blank">中国大学MOOC</a>
                    <a href="javascript:;" target="_blank"><img src="<%= require('../image/search.png') %>"></a>
                </div>
            </div>
        </div>
        <!-- /导航 -->
        <!-- 轮播 -->
        <div class="m-banner">
            <div>
                <ul class="f-cb">
                    <li><a href="http://open.163.com/" target="_blank"></a></li>
                    <li><a href="http://study.163.com/" target="_blank"></a></li>
                    <li><a href="http://www.icourse163.org/" target="_blank"></a></li>
                </ul>
                <div class="m-nav-list">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- /轮播 -->
        <!-- 产品介绍 -->
        <div class="m-products-intro">
            <div class="g-w">
                <ul>
                    <li class="f-cb">
                        <div class="f-fl">
                            <img src="<%= require('../image/icon1.png') %>" alt="网易公开课">
                        </div>
                        <div class="f-fr">
                            <h3 class="f-fwn">网易公开课</h3>
                            <p class="f-fs2">推出国内外名校公开课，涉及广泛的学科，名校老师认真讲解深度剖析，网易视频公开课频道搭建起强有力的网络视频教学平台。</p>
                            <a class="f-fs2 f-fc" href="http://open.163.com/" target="_blank">了解更多></a>
                        </div>
                    </li>
                    <li class="f-cb">
                        <div class="f-fl">
                            <img src="<%= require('../image/icon2.png') %>" alt="网易公开课">
                        </div>
                        <div class="f-fr">
                            <h3 class="f-fwn">云课堂</h3>
                            <p class="f-fs2">网易旗下大型在线学习平台，该平台面向学习者提供海量免费、优质课程,创新的个性化学习体验，自由开放的交流互动环境。</p>
                            <a class="f-fs2 f-fc" href="http://study.163.com/" target="_blank">了解更多></a>
                        </div>
                    </li>
                    <li class="f-cb">
                        <div class="f-fl">
                            <img src="<%= require('../image/icon3.png') %>" alt="网易公开课">
                        </div>
                        <div class="f-fr">
                            <h3 class="f-fwn">中国大学MOOC</h3>
                            <p class="f-fs2">是爱课程网携手云课堂打造的在线学习平台，每一个有提升愿望的人,都可以在这里学习中国最好的大学课程，学完还能获得认证证书。</p>
                            <a class="f-fs2 f-fc" href="http://www.icourse163.org/" target="_blank">了解更多></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /产品介绍 -->
        <!-- 照片墙 -->
        <div class="m-photo-wall">
            <ul class="f-cb">
                <li><img src="<%= require('../image/flow1.jpg')%>" alt=""></li>
                <li><img src="<%= require('../image/flow2.jpg')%>" alt=""></li>
                <li><img src="<%= require('../image/flow3.jpg')%>" alt=""></li>
                <li><img src="<%= require('../image/flow4.jpg')%>" alt=""></li>
                <li><img src="<%= require('../image/flow5.jpg')%>" alt=""></li>
            </ul>
        </div>
        <!-- /照片墙 -->
        <!-- 主体 -->
        <div class="g-w">
            <div class="m-main f-cb">
                <!-- 产品列表 -->
                <div class="f-fl">
                    <div class="products">
                        <ul class="m-tab f-cb">
                            <li class="f-fl u-shadow-box pro-design active">产品设计</li>
                            <li class="f-fl u-shadow-box pro-lang">编程语言</li>
                        </ul>
                        <div class="products-box">
                        </div>
                    </div>
                </div>
                <!-- /产品列表 -->
                <!-- 侧边栏 -->
                <div class="f-fr">
                    <div class="m-side">
                        <div class="u-side-box ins-intro u-shadow-box">
                            <h2>机构介绍</h2>
                            <div class="video">
                                <p>观看下面的视频来了解吧：</p>
                                <div class="video-preview"></div>
                            </div>

                        </div>
                        <div class="u-side-box m-hot u-shadow-box">
                            <h2>最热排行</h2>
                            <ul class="hot-list">

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /侧边栏 -->
            </div>
        </div>
        <!-- 主体 -->
        <!-- 页脚 -->
        <footer>
            <div class="g-w f-cb">
                <div class="f-fl">
                    <h2 class="logo"><span class="f-fc">|</span>网易教育产品部</h2>
                    <p>©2014 icourse163.org 浙ICP备08114786号-1</p>
                    <p>icourses.cn 京ICP备12020869号-2 京公网安备110102000459-2</p>
                </div>
                <div class="f-fr f-cb">
                    <div class="f-fl">
                        <h4>友情链接：</h4>
                        <p><a href="">网易公开课</a></p>
                        <p><a href="">网易云课堂</a></p>
                        <p><a href="">中国大学MOOC</a></p>
                    </div>
                    <div class="f-fl">
                        <h4>我们：</h4>
                        <p><a href="">关于 </a></p>
                        <p><a href="">联系</a></p>
                        <p><a href="">关注</a></p>
                    </div>
                    <div class="f-fl">
                        <h4>更多：</h4>
                        <p><a href="">常见问题</a></p>
                        <p><a href="">意见反馈</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /页脚 -->
</body>

</html>