<div class="m-mask">
    <div class="m-video">
        <h3>请看下面的视频:</h3>
        <span class="close">×</span>
        <div class= "videoPlayer">
            <video width="889px" height="567px"  controls>
                <source src="http://mov.bn.netease.com/open-movie/nos/mp4/2014/12/30/SADQ86F5S_shd.mp4" type="video/mp4">
                抱歉，您的浏览器不支持内嵌视频，不过不用担心，你可以 <a target="_blank" href="http://mov.bn.netease.com/open-movie/nos/mp4/2014/12/30/SADQ86F5S_shd.mp4">观看</a>

                并用你喜欢的播放器观看!
            </video>
        </div>
    </div>
</div>